<mat-toolbar color="primary">
  <button
    type="button"
    mat-icon-button
    aria-label="Open side nav"
    (click)="onToggleDrawer()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span> Social Media App </span>

  <span class="spacer"></span>

  @if(!isAuthenticated) {
  <div class="action-wrapper">
    <a mat-flat-button routerLink="login">
      Login
      <mat-icon>login</mat-icon>
    </a>

    <a mat-button routerLink="signup"> Signup </a>
  </div>
  } @else {
  <div #logout class="authenticated">
    <h5>
      Hi,
      <span class="username">
        {{ user.username }}
      </span>
    </h5>
    <button (click)="onLogout()" mat-flat-button type="button">Logout</button>
  </div>
  }
</mat-toolbar>
