<mat-card>
  <div *ngIf="isLoading" class="custom-loading"></div>
  <form
    [inert]="isLoading"
    [formGroup]="form"
    class="postForm"
    (submit)="onAddPost()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form.get('title')?.invalid"
        >Missing post title</mat-error
      >
    </mat-form-field>
    <mat-form-field class="content-input">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid"
        >Please enter a post title.</mat-error
      >
    </mat-form-field>

    <div class="file-picker-wrapper">
      <button mat-stroked-button (click)="filePicker.click()" type="button">
        Upload media <span class="asterisk">*</span>
      </button>
      <input type="file" hidden #filePicker (change)="onFileChange($event)" />
      <mat-card *ngIf="link" class="image-preview" appearance="outlined">
        <img
          mat-card-image
          class="main-image"
          [src]="link"
          alt="preview uploaded image"
        />
        <img class="preview-layer" [src]="link" alt="image preview layer" />
      </mat-card>
      <mat-error class="error-message-file" *ngIf="showUploadError"
        >Please attach JPEG / JPG / PNG image file only!</mat-error
      >
    </div>

    <button mat-raised-button color="primary" type="submit">
      {{ mode }} post
    </button>
  </form>
</mat-card>
