<mat-card>
  <form class="postForm" (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input
        matInput
        ngModel
        name="title"
        required
        minlength="2"
        placeholder="Your title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Missing post title</mat-error>
    </mat-form-field>
    <mat-form-field class="content-input">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        ngModel
        name="content"
        placeholder="Write your content here..."
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        >Please enter a post content.</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">create post</button>
  </form>
</mat-card>
