h1 {
  color: red;
  font-weight: 500;
  font-size: 16px;
  list-style: 24px;
}

main {
  margin-top: 1rem;
  width: 80%;
  margin-inline: auto;
}

.drawer-container {
  height: 100%;

  .inner-content-wrapper {
    padding: 24px;
    position: relative;
    min-width: 300px;

    .inner-content-header {
      display: flex;
      justify-content: space-between;
    }

    .navigation-list {
      list-style-type: none;

      a {
        text-transform: capitalize;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
}
